body {
    background: linear-gradient(to bottom right, aliceblue, #add8e6);
}

.home-container {
    display: flex;
    justify-content: center; /* 要素を水平方向の中心に */
    align-items: center; /* 要素を垂直方向の中心に */
    height: 100vh; /* コンテナをビューポートの高さ全体に */
    position: relative; /* 子要素の位置を調整するための基点 */
}

.profile-section {
    width: 100%;
    height: 100%;
    max-width: 180px; /* プロフィール画像の幅 */
    max-height: 240px; /* プロフィール画像の高さ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute; /* 絶対位置指定 */
    top: 30%; /* 上から10%の位置に設定 */

}

.profile-icon {
    width: 100%; /* コンテナの幅に合わせる */
    height: 100%; /* 高さを自動で調整 */
    max-width: 180px; /* プロフィール画像の幅 */
    max-height: 180px; /* プロフィール画像の高さを幅と同じにする */
    object-fit: cover;
    border-radius: 50%; /* 画像を円形にする */
    object-position: center 67%;; /* 画像のトリミング位置を調整 */
    background: white;
}

.profile-info {
    width: 100%;
    height: 100%;
    display: flex; /* Flexbox を利用 */
    flex-direction: column; /* アイテムを縦に並べる */
    align-items: center; /* アイテムを水平方向の中心に */
    text-align: center; /* テキストを中央揃えに */
}

.profile-info a {
    color: black; /* アイコンの色 */
    font-size: 24px; /* アイコンのサイズ */
    margin: 0 10px; /* アイコン間の余白 */
}

.button-container {
    display: flex;
    justify-content: center; /* ボタンを中央に配置 */
    gap: 10px; /* ボタン間の間隔 */
    margin-top: 20px; /* ボタンとリンクの間に余白を設ける */
}

button {
    padding: 10px 20px;
    background-color: aliceblue; /* bodyと同じ背景色 */
    color: #333; /* ボタンのテキスト色をダークグレーに */
    border-radius: 5px; /* 角を丸くする */
    border: none;
    cursor: pointer; /* カーソルをポインターに設定 */
    font-size: 18px; /* フォントサイズ */
    transition: all 0.3s ease; /* 色の変化にアニメーションを設定 */
}

button:hover {
    background-color: #d0d0d0;
}
